In [1]:
import pandas as pd

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

JSON project of Neeharika

In [3]:
#10 countries with most projects
import pandas as pd
import numpy as np
world_bank=pd.read_json('data/world_bank_projects.json')
grouped_name=world_bank.groupby('countryshortname').size()
grouped_name.sort_values(ascending=False).head(9)

countryshortname
Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Bangladesh            12
Morocco               12
Mozambique            11
dtype: int64

In [4]:
#checking the empty names for a given code
data_projects=json.load((open('data/world_bank_projects.json')))
table_projects=json_normalize(data_projects,'mjtheme_namecode')
table_projects.groupby(['name','code']).size().reset_index()

                                            name code    0
0                                                   1    5
1                                                  10   14
2                                                  11   27
3                                                   2   15
4                                                   3    3
5                                                   4   16
6                                                   5    5
7                                                   6   10
8                                                   7   11
9                                                   8   13
10                                                  9    3
11                           Economic management    1   33
12  Environment and natural resources management   11  223
13      Financial and private sector development    4  130
14                             Human development    8  197
15                      Public sector governance    2  184
16                                   Rule of law    3   12
17                             Rural development   10  202
18                   Social dev/gender/inclusion    7  119
19         Social protection and risk management    6  158
20                         Trade and integration    5   72
21                             Urban development    9   47

In [5]:
#top 10 major project themes (using column 'mjtheme_namecode')
projects_unique=table_projects.drop_duplicates().replace('',np.nan).dropna(how='any')
print(projects_unique.loc[projects_unique['code'] == '11']['name'].values[0])

for index, row in table_projects.iterrows():
    if(row['name'] == ''):
        row['name']=(projects_unique.loc[projects_unique['code'] == row['code']]['name'].values[0])
#print(table_projects)
#print(grouped_projects.sort_values(ascending=False).head(10))
#grouped_projects=table_projects.groupby('name').size()
grouped_projects=table_projects.groupby('name').count()[['code']].sort_values('code', ascending=False)
print(grouped_projects)

Environment and natural resources management
                                              code
name
Environment and natural resources management   250
Rural development                              216
Human development                              210
Public sector governance                       199
Social protection and risk management          168
Financial and private sector development       146
Social dev/gender/inclusion                    130
Trade and integration                           77
Urban development                               50
Economic management                             38
Rule of law                                     15